header{
    padding: 5px;
    background-color: rgb(193, 193, 193);
}

nav{
    display: flex;
    justify-content: space-around;
}

nav > :nth-child(1){
    font-size: 20px;
    color: blue;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

ul>li{
    cursor: pointer;
    color: green;
    font-weight: bold;
}

button{
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    background-color: lightgray;
    font-weight: bold;
}